<a href="https://colab.research.google.com/github/iamnaofil/Titanic-Data-EDA/blob/main/EDA_Summary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv('train.csv')

In [4]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

**Data Anomilies:**

**This Dataset is showing Detail of Titanic Incident**:<br>
PassengerID: Shwoing ID of Pasenger Travelling<br>
Survived: Showing that Passenger Survived or not from that incident<br>
Pclass: shoing which class passenger travelling<br>
name: Showing Name of Passengers.<br>
Sex: Showing Passenger is Male or Female<br>
Age: Showing Age of Passenger<br>

SibSp: Showing number of how many Sibling or Spouse of passenger with them.<br>
Parch: Showing Parents and Child Count with Pasenger<br>
Ticket: Showing Ticket Number / like any PNR
<br>Fare:  Cost of Tickets Fare<br>
Cabin: Showing in which cabin Passengers Travelling<br>
Embarked: Showing from Which Station Passenger Took Titanic

# Why do EDA (Reason):
*   1) Model Building:

(Creating a Model that predict a passenger of given input will survive or not)
*   2) Analysis and Report

(Sometime we just need to prepare knowledgable points on given dataset not any model)
*   3) Validate assumption
(When We have some assumption to check its prediction and probabilty)
*   4) Handling missing Values

(Formulate Dataset by droping or mean replacement, think what will be accurate value after understandin data)
*   5) Feature Engineering

(To find which columns help me in analysis, so either we add column or modify columns)
*   6) Detecting of Outlier

(Any Extream pointin data, inbalance point)

**EDA Process is Iterative Process, That we perform repetativly**

In [ ]:
#Start with you documentation what you do before EDA
#You first create a short summary of everything what you are understanding from Dataset

**Step 1 :Columns Types Labeling:** <br>

Firsly we categorize our data anolies types:

Numerical: PassengerID,Age, Fare<br>
Categorical: Survived, Pclass, Sex, Sibsp, Parch, Embarked<br>
Mixed: Name,Ticket,Cabin

**Step 2 :Univariate Analysis** <br>
(Single Variable Analysis of Each Column)

Each Columns Values/ Records Checking by its Distribution

Indpendently analyze a column,
How the data point distributed,


**1-Shape of Data**
How many records are there

**2 -Central Tendency** of that data point that how data is spread:
    
**3- Dispersion**<br>
RANGE(finding Min and MAX),

VARIANCE(finding Distance from MEAN),

STD ( Standared Deviation)


IQR (Percentile)



**Potential Issue:**

Outliers : Extream Value from
Skewness : Normal Distribution
Data Balance (Our Mean and Median Differ)
Missing Values:

---

**Step 3 :Bivariate Anlaysis**

(Two Variable Analysis of two column)
Cheecks Corelation / Distribution between Two Columns)



**Step 4 :Multivariate Analysis**

# UNIVARIATE ANALYSIS


(on Numerical Values)

1- Discriptive Statistic (describe () function)

2- Visualization plot graph,chart, histogram,

3- Identifying Outlier: Extreamity of data point(Know Whats and Why)

4- Skewness: Consider transofrmation if neccesary(Feature Tranformation)

5- Conclusion

**Creating plot histogram**

df['Column'].plot(kind=hist)

**Defining Bins in Histogram**

df['Column'].plot(kind=hist,bins=20)

**Creating kde Chart** <br>
df['Column'].plot(kind=kde)

**Know skew for any single column**

df['Column'].skew()

**Creating Box Plot** <br>
df['Column'].plot('box')

**Check Missing Values**

df['Column'].isnull()

**Checks Count of Missing Values**

df['Column'].isnull().sum()

**Check How Many Percent of missing value per column data**

df['Column'].isnull().sum()/len(df['Cloumn')*100

**Univariate Analysis on Categorical Data** <br>
 Descriptive Statistic

 Visualization

 Missing Values

# Bivariate Analysis
<br>
Choosing 2 Columns<br>
With Three Posibilties

**1) Numerical - Numerical** <br>

- scatter(regression plot), 2D hisplot, 2D KDE <br>

- check scorelation and coefficient (liner relationship)
<br>

**2) Numerical - Categorical** <br>

- comparing distribution across categorical data

- barplot, boxplot, vilioplot even scatter plot


**3) Categorical - Categorical**<br>

- cross tabulations OR Contengency tables

- heatmap, stackedbar chart, treemaps

**Numerical - Numerical** <br> We choose most important column

  Survived - Embarked

  Survived - PClass

  Age - PClass

**Numerical -  Categorical**

Age - Survived

Age - PClass

Age - Fare

# Feature Engineering

**Feature Engineering on Mixed Columns**

In [ ]:
#Name , Ticket , Cabin Column
#bivariate analysis with respect to most important column (Survived, Age)
#creating new column Family Size and Type to have more understanding
#Adding Relatbale Columns which can be helpful to analysis more